In [1]:
# ques 1

In [2]:
''' A database is an organized collection of structured data that is stored and managed in a computer system. It is designed to efficiently store, retrieve, and manage large amounts of information.
Databases provide a way to organize data into tables, rows, and columns, and allow users to perform operations like querying, updating, and deleting data.'''

' A database is an organized collection of structured data that is stored and managed in a computer system. It is designed to efficiently store, retrieve, and manage large amounts of information.\nDatabases provide a way to organize data into tables, rows, and columns, and allow users to perform operations like querying, updating, and deleting data.'

In [3]:
'''SQL(Structured Query Language) databases are based on the relational model and use SQL as the standard language for interacting with the data.
They are known as structured databases because they define a schema upfront, which describes the structure of the data, including tables, columns, and relationships between tables.
SQL databases ensure data integrity through the use of constraints, such as primary keys, foreign keys, and unique keys.
Examples of SQL databases include MySQL, PostgreSQL, Oracle Database, and Microsoft SQL Server.
SQL databases are suitable for applications that require complex queries, transactions, and strict data consistency, such as banking systems, e-commerce platforms, and financial applications.
                Whereas NoSQL (Not Only SQL) databases are non-relational databases that provide flexible schemas and do not rely on SQL as the primary query language.
They are designed to handle large volumes of unstructured, semi-structured, and structured data, making them highly scalable and horizontally distributable.
NoSQL databases offer different data models, such as key-value stores, document stores, columnar databases, and graph databases, allowing developers to choose the most suitable model for their specific use case.
NoSQL databases prioritize scalability, performance, and availability over strict consistency.
They often use eventual consistency models, where data may be temporarily inconsistent across distributed systems but eventually converges to a consistent state.
NoSQL databases are commonly used in web applications, real-time analytics, content management systems, and applications dealing with large-scale data, such as social media platforms and IoT (Internet of Things) systems.
Examples of NoSQL databases include MongoDB, Cassandra, Couchbase, and Redis.'''

'SQL(Structured Query Language) databases are based on the relational model and use SQL as the standard language for interacting with the data.\nThey are known as structured databases because they define a schema upfront, which describes the structure of the data, including tables, columns, and relationships between tables.\nSQL databases ensure data integrity through the use of constraints, such as primary keys, foreign keys, and unique keys.\nExamples of SQL databases include MySQL, PostgreSQL, Oracle Database, and Microsoft SQL Server.\nSQL databases are suitable for applications that require complex queries, transactions, and strict data consistency, such as banking systems, e-commerce platforms, and financial applications.\n                Whereas NoSQL (Not Only SQL) databases are non-relational databases that provide flexible schemas and do not rely on SQL as the primary query language.\nThey are designed to handle large volumes of unstructured, semi-structured, and structured data, making them highly scalable and horizontally distributable.\nNoSQL databases offer different data models, such as key-value stores, document stores, columnar databases, and graph databases, allowing developers to choose the most suitable model for their specific use case.\nNoSQL databases prioritize scalability, performance, and availability over strict consistency.\nThey often use eventual consistency models, where data may be temporarily inconsistent across distributed systems but eventually converges to a consistent state.\nNoSQL databases are commonly used in web applications, real-time analytics, content management systems, and applications dealing with large-scale data, such as social media platforms and IoT (Internet of Things) systems.\nExamples of NoSQL databases include MongoDB, Cassandra, Couchbase, and Redis.'

In [4]:
#ques 2

In [5]:
'''DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and manipulate the structure of a database and its objects.
DDL statements are responsible for creating, altering, and deleting database objects such as tables, indexes, views, and constraints.'''

'DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and manipulate the structure of a database and its objects.\nDDL statements are responsible for creating, altering, and deleting database objects such as tables, indexes, views, and constraints.'

In [6]:
'''CREATE: The CREATE statement is used to create new database objects, such as tables, views, indexes, or procedures. It specifies the object's name, structure, and any associated attributes.
For example, the following CREATE statement creates a new table named "Customers" with columns for customer ID, name, and email:'''

'CREATE: The CREATE statement is used to create new database objects, such as tables, views, indexes, or procedures. It specifies the object\'s name, structure, and any associated attributes.\nFor example, the following CREATE statement creates a new table named "Customers" with columns for customer ID, name, and email:'

In [7]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/conda/lib/python3.10/site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /opt/conda/lib/python3.10/site-packages (from mysql-connector-python) (3.20.3)
Note: you may need to restart the kernel to use updated packages.

In [8]:
'''
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE Customers (ID INT, PRIMARY KEY,Name VARCHAR(50),Email VARCHAR(100))")
mydb.close()
'''

'\nimport mysql.connector\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="abc",\n  password="password"\n)\nmycursor = mydb.cursor()\nmycursor.execute("CREATE TABLE Customers (ID INT, PRIMARY KEY,Name VARCHAR(50),Email VARCHAR(100))")\nmydb.close()\n'

In [9]:
'''DROP: The DROP statement is used to remove an existing database object, such as a table, view, index, or procedure.
It permanently deletes the object and its associated data. For example, the following DROP statement removes the "Customers" table '''

'DROP: The DROP statement is used to remove an existing database object, such as a table, view, index, or procedure.\nIt permanently deletes the object and its associated data. For example, the following DROP statement removes the "Customers" table '

In [10]:
'''
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE Customers")
mydb.close()
'''

'\nimport mysql.connector\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="abc",\n  password="password"\n)\nmycursor = mydb.cursor()\nmycursor.execute("DROP TABLE Customers")\nmydb.close()\n'

In [11]:
'''ALTER: The ALTER statement is used to modify the structure of an existing database object.
It allows you to add, modify, or drop columns, constraints, or other attributes of a table. For example, to add a new column named "Phone" to the "Customers" table, we can use the ALTER statement'''

'ALTER: The ALTER statement is used to modify the structure of an existing database object.\nIt allows you to add, modify, or drop columns, constraints, or other attributes of a table. For example, to add a new column named "Phone" to the "Customers" table, we can use the ALTER statement'

In [12]:
'''
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE Customers ADD Phone VARCHAR(20)")
mydb.close()
'''

'\nimport mysql.connector\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="abc",\n  password="password"\n)\nmycursor = mydb.cursor()\nmycursor.execute("ALTER TABLE Customers ADD Phone VARCHAR(20)")\nmydb.close()\n'

In [13]:
'''TRUNCATE: The TRUNCATE statement is used to remove all data from a table, but unlike the DROP statement, it keeps the table structure intact.
TRUNCATE is faster than deleting rows one by one using the DELETE statement because it removes all data in a single operation.
For example, to delete all data from the "Customers" table, you can use the TRUNCATE statement'''

'TRUNCATE: The TRUNCATE statement is used to remove all data from a table, but unlike the DROP statement, it keeps the table structure intact.\nTRUNCATE is faster than deleting rows one by one using the DELETE statement because it removes all data in a single operation.\nFor example, to delete all data from the "Customers" table, you can use the TRUNCATE statement'

In [14]:
'''
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("TRUNCATE TABLE Customers")
mydb.close()
'''

'\nimport mysql.connector\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="abc",\n  password="password"\n)\nmycursor = mydb.cursor()\nmycursor.execute("TRUNCATE TABLE Customers")\nmydb.close()\n'

In [15]:
#ques 3

In [16]:
'''DML stands for Data Manipulation Language, which is a subset of SQL used to manipulate and modify data within a database. 
DML statements are used to insert, update, and delete data from database tables. '''

'DML stands for Data Manipulation Language, which is a subset of SQL used to manipulate and modify data within a database. \nDML statements are used to insert, update, and delete data from database tables. '

In [17]:
'''INSERT: The INSERT statement is used to insert new records into a table. 
It specifies the table name and the values to be inserted into the respective columns.
For example, consider a table named "Customers" with columns for customer ID, name, and email. To insert a new customer into the table, we can use the INSERT statement.'''

'INSERT: The INSERT statement is used to insert new records into a table. \nIt specifies the table name and the values to be inserted into the respective columns.\nFor example, consider a table named "Customers" with columns for customer ID, name, and email. To insert a new customer into the table, we can use the INSERT statement.'

In [18]:
'''import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()

mycursor.execute("INSERT INTO Customers (ID, Name, Email) VALUES (1, 'John Doe', 'john@example.com')")

mydb.commit()

mydb.close()'''

'import mysql.connector\n\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="abc",\n  password="password"\n)\n\nmycursor = mydb.cursor()\n\nmycursor.execute("INSERT INTO Customers (ID, Name, Email) VALUES (1, \'John Doe\', \'john@example.com\')")\n\nmydb.commit()\n\nmydb.close()'

In [19]:
#This statement will insert a new record into the "Customers" table with the specified values.

In [20]:
'''UPDATE: The UPDATE statement is used to modify existing records in a table. It allows you to change the values of one or more columns based on specified conditions.
For example, suppose you want to update the email address of a customer with ID 1 in the "Customers" table. we can use the UPDATE statement as follows.'''

'UPDATE: The UPDATE statement is used to modify existing records in a table. It allows you to change the values of one or more columns based on specified conditions.\nFor example, suppose you want to update the email address of a customer with ID 1 in the "Customers" table. we can use the UPDATE statement as follows.'

In [21]:
'''import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()

mycursor.execute("UPDATE Customers SET Email = 'newemail@example.com' WHERE ID = 1")

mydb.commit()

mydb.close()'''

'import mysql.connector\n\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="abc",\n  password="password"\n)\n\nmycursor = mydb.cursor()\n\nmycursor.execute("UPDATE Customers SET Email = \'newemail@example.com\' WHERE ID = 1")\n\nmydb.commit()\n\nmydb.close()'

In [22]:
#This statement will update the email address of the customer with ID 1 to the new value specified.

In [23]:
''' DELETE: The DELETE statement is used to remove records from a table based on specified conditions.
It allows you to selectively delete one or more rows from a table.
For example, if you want to delete a customer with ID 1 from the "Customers" table, we can use the DELETE statement'''

' DELETE: The DELETE statement is used to remove records from a table based on specified conditions.\nIt allows you to selectively delete one or more rows from a table.\nFor example, if you want to delete a customer with ID 1 from the "Customers" table, we can use the DELETE statement'

In [24]:
'''import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()

mycursor.execute("DELETE FROM Customers WHERE ID = 1")

mydb.commit()

mydb.close()'''

'import mysql.connector\n\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="abc",\n  password="password"\n)\n\nmycursor = mydb.cursor()\n\nmycursor.execute("DELETE FROM Customers WHERE ID = 1")\n\nmydb.commit()\n\nmydb.close()'

In [25]:
#This statement will delete the customer record with ID 1 from the "Customers" table.

In [26]:
#ques 4

In [27]:
'''DQL stands for Data Query Language, which is a subset of SQL used to query and retrieve data from a database. 
DQL statements are primarily focused on retrieving data from one or more tables based on specified conditions.
The most common DQL statement is SELECT, which allows us to retrieve data from a database table.
Let's explain the SELECT statement with an example'''

"DQL stands for Data Query Language, which is a subset of SQL used to query and retrieve data from a database. \nDQL statements are primarily focused on retrieving data from one or more tables based on specified conditions.\nThe most common DQL statement is SELECT, which allows us to retrieve data from a database table.\nLet's explain the SELECT statement with an example"

In [28]:
'''import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password",
  database="database1"
)

mycursor = mydb.cursor()

query = "SELECT column1, column2, ... FROM table_name WHERE condition"

mycursor.execute(query)

result = mycursor.fetchall() 

for row in result:
   
    column1_value = row[0]
    column2_value = row[1]
   

mydb.close()'''

'import mysql.connector\n\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="abc",\n  password="password",\n  database="database1"\n)\n\nmycursor = mydb.cursor()\n\nquery = "SELECT column1, column2, ... FROM table_name WHERE condition"\n\nmycursor.execute(query)\n\nresult = mycursor.fetchall() \n\nfor row in result:\n   \n    column1_value = row[0]\n    column2_value = row[1]\n   \n\nmydb.close()'

In [29]:
#ques 5

In [30]:
'''A primary key is a column or a combination of columns in a database table that uniquely identifies each row. It serves as a unique identifier for the records in the table.
The primary key ensures data integrity by preventing duplicate or null values in the key column(s). It is typically used to identify and access specific rows in the table quickly.

A foreign key is a column or a combination of columns in a database table that refers to the primary key of another table.
It establishes a relationship between two tables, where the values in the foreign key column(s) in one table match the values in the primary key column(s) of the referenced table.
Foreign keys are used to maintain referential integrity, enforce relationships between tables, and enable cascading actions such as updates and deletions across related tables.
They help ensure data consistency and integrity within the database.'''

'A primary key is a column or a combination of columns in a database table that uniquely identifies each row. It serves as a unique identifier for the records in the table.\nThe primary key ensures data integrity by preventing duplicate or null values in the key column(s). It is typically used to identify and access specific rows in the table quickly.\n\nA foreign key is a column or a combination of columns in a database table that refers to the primary key of another table.\nIt establishes a relationship between two tables, where the values in the foreign key column(s) in one table match the values in the primary key column(s) of the referenced table.\nForeign keys are used to maintain referential integrity, enforce relationships between tables, and enable cascading actions such as updates and deletions across related tables.\nThey help ensure data consistency and integrity within the database.'

In [31]:
# ques 6

In [32]:
'''import mysql.connector


mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password",
  database="database_2"
)
mycursor = mydb.cursor()


create_table_query = """CREATE TABLE Customers (ID INT, PRIMARY KEY, Name VARCHAR(50),Email VARCHAR(100))"""

# Execute the CREATE TABLE query
mycursor.execute(create_table_query)

# Commit the changes to the database
mydb.commit()

# Close the database connection
mydb.close()'''

'import mysql.connector\n\n\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="abc",\n  password="password",\n  database="database_2"\n)\nmycursor = mydb.cursor()\n\n\ncreate_table_query = """CREATE TABLE Customers (ID INT, PRIMARY KEY, Name VARCHAR(50),Email VARCHAR(100))"""\n\n# Execute the CREATE TABLE query\nmycursor.execute(create_table_query)\n\n# Commit the changes to the database\nmydb.commit()\n\n# Close the database connection\nmydb.close()'

In [33]:
'''cursor(): The cursor() method creates a cursor object that allows you to execute SQL queries and fetch the results.
The cursor acts as a handle or pointer to the result set returned by the query.
It provides various methods to interact with the database, such as execute(), fetchall(), fetchone(), etc.

execute(): The execute() method is used to execute SQL queries or statements.
It takes the SQL query as a parameter and sends it to the MySQL server for execution.
The query can be a Data Manipulation Language (DML) statement like SELECT, INSERT, UPDATE, DELETE, or any other valid SQL statement.'''

'cursor(): The cursor() method creates a cursor object that allows you to execute SQL queries and fetch the results.\nThe cursor acts as a handle or pointer to the result set returned by the query.\nIt provides various methods to interact with the database, such as execute(), fetchall(), fetchone(), etc.\n\nexecute(): The execute() method is used to execute SQL queries or statements.\nIt takes the SQL query as a parameter and sends it to the MySQL server for execution.\nThe query can be a Data Manipulation Language (DML) statement like SELECT, INSERT, UPDATE, DELETE, or any other valid SQL statement.'

In [34]:
# ques 7

In [35]:
'''The order of execution of SQL clauses in a query generally follows the logical sequence described below:

FROM: The FROM clause specifies the table(s) from which the data will be retrieved.

JOIN: If the query involves joining multiple tables, the JOIN clause is used to define the relationships between the tables.

WHERE: The WHERE clause filters the rows based on specified conditions. It is used to retrieve only the rows that satisfy the specified criteria.

GROUP BY: The GROUP BY clause is used to group rows based on one or more columns. It is often used in conjunction with aggregate functions like SUM, COUNT, AVG, etc.

HAVING: The HAVING clause filters the grouped rows based on specified conditions. It is similar to the WHERE clause but operates on the grouped data.

SELECT: The SELECT clause specifies the columns to be retrieved from the table(s). It is generally placed after the FROM, JOIN, WHERE, GROUP BY, and HAVING clauses.

DISTINCT: The DISTINCT keyword is used to remove duplicate rows from the result set, considering all the selected columns.

ORDER BY: The ORDER BY clause sorts the result set based on one or more columns, either in ascending (ASC) or descending (DESC) order.

LIMIT: The LIMIT clause is used to limit the number of rows returned by the query.'''

'The order of execution of SQL clauses in a query generally follows the logical sequence described below:\n\nFROM: The FROM clause specifies the table(s) from which the data will be retrieved.\n\nJOIN: If the query involves joining multiple tables, the JOIN clause is used to define the relationships between the tables.\n\nWHERE: The WHERE clause filters the rows based on specified conditions. It is used to retrieve only the rows that satisfy the specified criteria.\n\nGROUP BY: The GROUP BY clause is used to group rows based on one or more columns. It is often used in conjunction with aggregate functions like SUM, COUNT, AVG, etc.\n\nHAVING: The HAVING clause filters the grouped rows based on specified conditions. It is similar to the WHERE clause but operates on the grouped data.\n\nSELECT: The SELECT clause specifies the columns to be retrieved from the table(s). It is generally placed after the FROM, JOIN, WHERE, GROUP BY, and HAVING clauses.\n\nDISTINCT: The DISTINCT keyword is used to remove duplicate rows from the result set, considering all the selected columns.\n\nORDER BY: The ORDER BY clause sorts the result set based on one or more columns, either in ascending (ASC) or descending (DESC) order.\n\nLIMIT: The LIMIT clause is used to limit the number of rows returned by the query.'